<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <title>header</title>
</head>
<body>
<header th:fragment="header" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    Basic Board
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
    <li><a href="/board?board=자유게시판" class="nav-link px-2 link-dark">자유게시판</a></li>
    <li><a href="/board?board=FAQ" class="nav-link px-2 link-dark">FAQ</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <a href="/login" class="btn btn-outline-primary me-2" sec:authorize="isAnonymous()">Login</a>
    <a href="/signup" class="btn btn-primary" sec:authorize="isAnonymous()">Sign-up</a>
    <a href="/logout" class="btn btn-outline-primary" sec:authorize="isAuthenticated()">Logout</a>
  </div>
</header>
</body>
</html>