<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      th:replace="~{layout/main :: layout(~{::section}, ~{::script})}">
<head>
  <title>Basic Board</title>
</head>
<body>
<section th:data-post="${post.getPostInfo().getPostId()}">
  <!-- title -->
  <div class="row">
    <h3 th:text="${post.getPostInfo().getTitle()}">제목</h3>
  </div>
  <!-- 작성자, 시간, 좋아요 -->
  <div class="row border-bottom">
    <div class="col">
      <p>
        <span class="text-secondary" th:text="${post.getPostInfo().getAuthorName()} + ' |'">작성자</span>
        <span class="text-secondary" th:text="${post.getPostInfo().getPostCreateTime().toLocalDate()}">작성일</span>
      </p>
    </div>
    <div class="col">
      <p class="text-end my-auto">
        <button class="btn" id="like-post" style="background: none; border: none;">
          <i class="fa-heart text-danger" id="like-img"
             th:classappend="${post.postInfo.isLike ? 'fa-solid' : 'fa-regular' }" ></i>
        </button>
        <span class="align-middle text-secondary" id="like-count" th:text="${post.getPostInfo().getLikeCount()}"></span>
        <button class="btn" style="background: none; border: none;">
          <i class="fa-solid fa-user-group"></i>
        </button>
        <span class="align-middle text-secondary" th:text="${post.getPostInfo().getViewCount()}"></span>
      </p>
    </div>
  </div>
  <!-- content -->
  <div class="row border-bottom mb-3">
    <div class="col my-3">
      <p th:text="${post.getContent()}">내용</p>
    </div>
  </div>
  <div class="row justify-content-end">
    <a th:href="@{'/post/edit/' + ${postId}}" class="col-1 btn btn-primary me-2">수정</a>
    <button class="col-1 btn btn-danger" id="delete-post">삭제</button>
  </div>

  <!-- article-reply -->
  <div class="row boarder-bottom mt-4">
    <!-- total count -->
    <div class="col">
      <p>
        댓글 <span id="comment-count" class="text-danger">0</span>
      </p>
    </div>
  </div>
  <!-- list-reply -->
  <div class="row">
    <ul class="list-group" style="padding-right: 0">
      <li class="list-group-item">
        <p style="margin-bottom: 0" class="">
          <span class="align-middle">author</span>
          <span class="align-middle text-secondary">2023-07-02</span>
          <button class="btn btn-link" style="text-decoration: none">답글</button>
        </p>
        <p class="ms-2">content</p>
        <ul class="list-group ms-2">
          <li class="list-group-item">
            <p>
              author
              <span class="text-secondary">2023-07-02</span>
            </p>
            <p class="ms-2">reply-reply</p>
          </li>
          <li class="list-group-item">
            <p>
              author
              <span class="text-secondary">2023-07-02</span>
            </p>
            <p class="mx-2">reply-reply</p>
          </li>
        </ul>
      </li>
      <li class="list-group-item">
        <p style="margin-bottom: 0" class="">
          <span class="align-middle">author</span>
          <span class="align-middle text-secondary">2023-07-02</span>
          <button class="btn btn-link" style="text-decoration: none">답글</button>
        </p>
        <p class="ms-2">content</p>
        <ul class="list-group ms-2">
        </ul>
      </li>
      <li class="list-group-item">
        <p style="margin-bottom: 0" class="">
          <span class="align-middle">author</span>
          <span class="align-middle text-secondary">2023-07-02</span>
          <button class="btn btn-link" style="text-decoration: none">답글</button>
        </p>
        <p class="ms-2">content</p>
        <ul class="list-group ms-2">
        </ul>
      </li>
    </ul>
  </div>
</section>
<script src="https://kit.fontawesome.com/fb04c1cf29.js" crossorigin="anonymous"></script>
<script th:src="@{/js/post.js}" src="/js/post.js"></script>
</body>
</html>